*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: navy;
    color: white;
}
#about{
    background-color: green;
}
#intro{
    background-color: red;
    margin-right: 80%;
}
#course{
    background-color: aliceblue;
    color: black;
    margin-right: 80%;
}
#hobby{
    background-color: orange;
    margin-right: 80%;
}
#link{
    font-size: 50px;
}